<h1>All Users</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <ol class="all_users">
        <%= page_entries_info @all_users %>
        <% @all_users.each do |user| %>
          <li id="user-<%= user.id %>">
            <%= link_to gravatar_for(user, size: 50), user %>
            <span class="user"><%= link_to user.name, user %></span>
            <span class="location">Location : <%= user.location %></span>
            <span class="profile">Profile : <%= user.profile %></span>
          </li>
        <% end %>
        <%= paginate @all_users %>
      </ol>
  </div>
</div>
