<h1><%= t('view.All Users') %> (<%= User.count %>)</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= page_entries_info @all_users %>
      <ol class="all_users">
        <% @all_users.each do |user| %>
          <li id="user-<%= user.id %>">
            <%= link_to gravatar_for(user, size: 50), user %>
            <span class="user"><%= link_to user.name, user %></span>
            <span class="location"><%= t('view.Location') %> : <%= user.location %></span>
            <span class="profile"><%= t('view.Profile') %> : <%= user.profile %></span>
          </li>
        <% end %>
      </ol>
      <%= paginate @all_users %>
  </div>
</div>
