<h1><%= t('view.Log in') %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--<form action="/sessions/create" class="new_session" id="new_session" method="post">-->
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, t('view.Email') %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, t('view.Password') %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit t('view.Log in'), class: "btn btn-primary" %>
    <% end %>

    <p><%= t('view.New user?') %> <%= link_to t('view.Sign up now!'), signup_path %></p>
  </div>
</div>
