<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info_show' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @followings.any? %>
      <h3><%= t('view.Followings') %> (<%= @user.following_users.count %>)</h3>
      <%= page_entries_info @followings %>
      <ol class="followings">
        <!--%= render 'users/followings_form', following_user: @user.following_users %>-->
        <% @followings.each do |following| %>
          <li id="following-<%= following.id %>">
            <%= link_to gravatar_for(following, size: 50), following %>
            <span class="user"><%= link_to following.name, following %></span>
            <span class="location"><%= t('view.Location') %> : <%= following.location %></span>
            <span class="profile"><%= t('view.Profile') %> : <%= following.profile %></span>
          </li>
        <% end %>
      </ol>
      <%= paginate @followings %>
    <% end %>
  </div>
</div>
