<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info_show' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @microposts.any? %>
      <h3><%= t('view.Favorites') %> (<%= @microposts.count %>)</h3>
      <%= page_entries_info @favorites %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @favorites %>
    <% end %>
  </div>
</div>
